@(operations: List[FinancialOperation])

@main("Your Operations") {

	<table>
		<tr>
			<td>n°</td>
			<td>nature</td>
			<td>projet</td>
			<td>nom</td>
			<td>date prévue</td>
			<td>date effective</td>
			<td>montant</td>
		</tr>
   @for((operation, i) <- operations.zipWithIndex){
		<tr>
			<td>@i</td>
			<td>@operation.getNatureName()</td>
			<td>@operation.getRelativeTo().getLabel()</td>
			<td>@operation.getLabel()</td>
			<td>@operation.getExpectedDate()</td>
			<td>@operation.getEffectiveDate()</td>
			<td>@operation.getAmount()</td>
		</tr>
   }
	</table>
}
