@(operations: List[FinancialOperation], spendingForm: Form[Spending], incomeForm: Form[Income])

@main("Your Operations") {

	<h2>Nouvelle Dépense</h2>
	@helper.form(action = routes.Application.submitSpending()) {
	
		@helper.inputText(spendingForm("label"))
		@helper.inputText(spendingForm("description"))
		@helper.inputText(spendingForm("amount"))
	
	<input type="submit" class="btn primary" value="Dépense !!!">
	
	}
	
	<h2>Nouvelle Entrée</h2>
	@helper.form(action = routes.Application.submitIncome()) {
	
		@helper.inputText(incomeForm("label"))
		@helper.inputText(incomeForm("description"))
		@helper.inputText(incomeForm("amount"))
	
	<input type="submit" class="btn primary" value="Entrée !!!">
	}

	<table>
		<tr>
			<td>n°</td>
			<td>nature</td>
			<td>projet</td>
			<td>nom</td>
			<td>date prévue</td>
			<td>date effective</td>
			<td>montant</td>
		</tr>
   @for((operation, i) <- operations.zipWithIndex){
		<tr>
			<td>@i</td>
			<td>@operation.getNatureName()</td>
			<td>@operation.getRelativeTo().getLabel()</td>
			<td>@operation.getLabel()</td>
			<td>@operation.getExpectedDate()</td>
			<td>@operation.getEffectiveDate()</td>
			<td>@operation.getAmount()</td>
		</tr>
   }
	</table>
}
